In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split

In [2]:
fight_df = pd.read_parquet('fight_ml.parquet')

In [3]:
fight_df

,name1,hp1,attack1,defense1,specialAttack1,specialDefense1,speed1,name2,hp2,attack2,defense2,specialAttack2,specialDefense2,speed2,Gewonnen
0,Zirpeise,77,85,51,55,51,65,Pummeluff,115,45,20,45,25,20,True
1,Zirpeise,77,85,51,55,51,65,Palimpalim,75,50,80,95,90,65,False
2,Zirpeise,77,85,51,55,51,65,Schlurplek,110,85,95,80,95,50,False
3,Zirpeise,77,85,51,55,51,65,Duokles,59,110,150,45,49,35,False
4,Zirpeise,77,85,51,55,51,65,Yanmega,86,76,86,116,56,95,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
640795,Wommel,40,45,40,55,40,84,Volcanion,80,110,120,130,90,70,False
640796,Wommel,40,45,40,55,40,84,Cresselia,120,70,120,75,130,85,False
640797,Wommel,40,45,40,55,40,84,Irokex,65,90,115,45,115,58,False
640798,Wommel,40,45,40,55,40,84,Tannza,50,65,90,35,35,15,False
640799,Wommel,40,45,40,55,40,84,Fukano,55,70,45,70,50,60,False

In [4]:
X = fight_df.drop(['Gewonnen', 'name1', 'name2'], axis = 1)
y = fight_df['Gewonnen']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [5]:
model = LogisticRegression()
model.fit(X_train,y_train)
predictions = model.predict(X_test)
print(accuracy_score(y_test, predictions))
print(confusion_matrix(y_test, predictions))
print(classification_report(y_test, predictions))

0.920809215753036
[[96445  8375]
 [ 8371 98273]]
              precision    recall  f1-score   support

       False       0.92      0.92      0.92    104820
        True       0.92      0.92      0.92    106644

    accuracy                           0.92    211464
   macro avg       0.92      0.92      0.92    211464
weighted avg       0.92      0.92      0.92    211464

In [6]:
model = RandomForestClassifier()
model.fit(X_train,y_train)
predictions = model.predict(X_test)
print(accuracy_score(y_test, predictions))
print(confusion_matrix(y_test, predictions))
print(classification_report(y_test, predictions))

0.9691153104074453
[[102522   2298]
 [  4233 102411]]
              precision    recall  f1-score   support

       False       0.96      0.98      0.97    104820
        True       0.98      0.96      0.97    106644

    accuracy                           0.97    211464
   macro avg       0.97      0.97      0.97    211464
weighted avg       0.97      0.97      0.97    211464

In [ ]:
model = SVC()
model.fit(X_train,y_train)
predictions = model.predict(X_test)
print(accuracy_score(y_test, predictions))
print(confusion_matrix(y_test, predictions))
print(classification_report(y_test, predictions))