In [144]:
# Imports
import pandas as pd
import numpy as np
from Pokemonarena.Pokemon import Pokemon

In [145]:
# Hol die Pokemonliste
fight_df = pd.read_parquet('fight_ml.parquet')
# Print
fight_df

,name1,hp1,attack1,defense1,specialAttack1,specialDefense1,speed1,name2,hp2,attack2,defense2,specialAttack2,specialDefense2,speed2,Gewonnen
0,Zirpeise,77,85,51,55,51,65,Pummeluff,115,45,20,45,25,20,True
1,Zirpeise,77,85,51,55,51,65,Palimpalim,75,50,80,95,90,65,False
2,Zirpeise,77,85,51,55,51,65,Schlurplek,110,85,95,80,95,50,False
3,Zirpeise,77,85,51,55,51,65,Duokles,59,110,150,45,49,35,False
4,Zirpeise,77,85,51,55,51,65,Yanmega,86,76,86,116,56,95,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
640795,Wommel,40,45,40,55,40,84,Volcanion,80,110,120,130,90,70,False
640796,Wommel,40,45,40,55,40,84,Cresselia,120,70,120,75,130,85,False
640797,Wommel,40,45,40,55,40,84,Irokex,65,90,115,45,115,58,False
640798,Wommel,40,45,40,55,40,84,Tannza,50,65,90,35,35,15,False
640799,Wommel,40,45,40,55,40,84,Fukano,55,70,45,70,50,60,False

In [146]:
# Gegenprüfen: Default score mit den Kampfdaten
def defaultScore(attack1, sattack1, defense1, sdefens1, hp1, speed1, attack2, sattack2, defense2, sdefens2, hp2, speed2, win):
    # Defauilt scoure 1
    defaultScoure1 = hp1 + attack1 +sattack1 + defense1 + sdefens1 + speed1
    # Defauilt scoure 2
    defaultScoure2 = hp2 + attack2 +sattack2 + defense2 + sdefens2 + speed2

    # Vergleich die Scores
    if (defaultScoure1 > defaultScoure2) & (win == True):
        return True
    elif(defaultScoure1 < defaultScoure2) & (win == False):
        return True
    else:
        return False

In [147]:
# Get max states
maxAttack = 100/fight_df['attack1'].max()
maxSpecialAttack = 100/fight_df['specialAttack1'].max()
maxDefense = 100/fight_df['defense1'].max()
maxSpecialDefense = 100/fight_df['specialDefense1'].max()
maxSpeed = 100/fight_df['hp1'].max()
maxHP = 100/fight_df['speed1'].max()

In [148]:
# Gegenprüfen: Prozent score mit den Kampfdaten
def percentScore(attack1, sattack1, defense1, sdefense1, hp1, speed1, attack2, sattack2, defense2, sdefense2, hp2, speed2, win):

    #
    maxSpecialAttack1 = 0
    maxAttack1 = 0
    maxSpecialAttack2 = 0
    maxAttack2 = 0

    # Calculate the average score for pokemon1
    if attack1 < sattack1:
        maxSpecialAttack1 = maxSpecialAttack*sattack1
    else:
        maxAttack1 = maxAttack*attack1
    maxDefense1 = maxDefense*defense1
    maxSpecialDefense1 = maxSpecialDefense*sdefense1
    maxSpeed1 = maxSpeed*speed1
    maxHP1 = maxHP*hp1
    # Calculate the avarage score
    maxScore1 = round(maxAttack1 + maxSpecialAttack1 + maxDefense1 + maxSpecialDefense1 + maxSpeed1 + maxHP1)
    
    # Calculate the average score for pokemon2
    if attack2 < sattack2:
        maxSpecialAttack2 = maxSpecialAttack*sattack2
    else:
        maxAttack2 = maxAttack*attack2
    maxDefense2 = maxDefense*defense2
    maxSpecialDefense2 = maxSpecialDefense*sdefense2
    maxSpeed2 = maxSpeed*speed2
    maxHP2 = maxHP*hp2
    # Calculate the avarage score
    maxScore2 = round(maxAttack2 + maxSpecialAttack2 + maxDefense2 + maxSpecialDefense2 + maxSpeed2 + maxHP2)

   # Vergleich die Scores
    if (maxScore1 > maxScore2) & (win == True):
        return True
    elif(maxScore1 < maxScore2) & (win == False):
        return True
    else:
        return False

In [149]:
# Average states
aAttack = sum(fight_df['attack1']) / len(fight_df['attack1'])
aSAttack = sum(fight_df['specialAttack1']) / len(fight_df['specialAttack1'])
aDefense = sum(fight_df['defense1']) / len(fight_df['defense1'])
aSDefense = sum(fight_df['specialDefense1']) / len(fight_df['specialDefense1'])
aHP = sum(fight_df['hp1']) / len(fight_df['hp1'])
aSpeed = sum(fight_df['speed1']) / len(fight_df['speed1'])

In [150]:
# Gegenprüfen: Durchschnitt score mit den Kampfdaten
def averageScore(attack1, sattack1, defense1, sdefens1, hp1, speed1, attack2, sattack2, defense2, sdefens2, hp2, speed2, win):
    
    # Score
    aScore1 = 0

    # Higher than average
    if aAttack < attack1:
        aScore1 += 1
    if aSAttack < sattack1:
        aScore1 += 1
    if aDefense < defense1:
        aScore1 += 1
    if aSDefense < sdefens1:
        aScore1 += 1
    if aHP < hp1:
        aScore1 += 1
    if aSpeed < speed1:
        aScore1 += 1

    # Extra points
    if aAttack < aSAttack:
        if aSAttack < sattack1:
            aScore1 += 1
            if aSpeed < speed1:
                aScore1 += 1
            if aSDefense < sdefens1:
                aScore1 += 1
    else:
        if aAttack < attack1:
            aScore1 += 1
            if aSpeed < speed1:
                aScore1 += 1
            if aDefense < defense1:
                aScore1 += 1
  
    # Score
    aScore2 = 0

    # Higher than average
    if aAttack < attack2:
        aScore2 += 1
    if aSAttack < sattack2:
        aScore2 += 1
    if aDefense < defense2:
        aScore2 += 1
    if aSDefense < sdefens2:
        aScore2 += 1
    if aHP < hp2:
        aScore2 += 1
    if aSpeed < speed2:
        aScore2 += 1

    # Extra points
    if aAttack < aSAttack:
        if aSAttack < sattack2:
            aScore2 += 1
            if aSpeed < speed2:
                aScore2 += 1
            if aSDefense < sdefens2:
                aScore2 += 1
    else:
        if aAttack < attack2:
            aScore2 += 1
            if aSpeed < speed2:
                aScore2 += 1
            if aDefense < defense2:
                aScore2 += 1
            
    
    # Vergleich die Scores
    if (aScore1 > aScore2) & (win == True):
        return True
    elif(aScore1 < aScore2) & (win == False):
        return True
    else:
        return False

In [151]:
# Attackscore
def attackScore(attack1, sattack1, defense1, sdefens1, hp1, speed1, attack2, sattack2, defense2, sdefens2, hp2, speed2, win):

    # Attackscores
    attackScore1 = 0
    attackScore2 = 0

    # Check attack
    if attack1 > sattack1:
        attackScore1 = attack1
    else:
        attackScore1 = sattack1

    if attack2 > sattack2:
        attackScore2 = attack2
    else:
        attackScore2 = sattack2
    
     # Vergleich die Scores
    if (attackScore1 > attackScore2) & (win == True):
        return True
    elif(attackScore1 < attackScore2) & (win == False):
        return True
    else:
        return False

In [153]:
# Check default score
fight_df['Score1'] = fight_df.apply(lambda x: defaultScore(x['attack1'], x['specialAttack1'], x['defense1'], x['specialDefense1'], x['hp1'], x['speed1'], x['attack2'], x['specialAttack2'], x['defense2'], x['specialDefense2'], x['hp2'], x['speed2'], x['Gewonnen']),axis=1)

In [154]:
# Check 3 Satz score
fight_df['Score2'] = fight_df.apply(lambda x: percentScore(x['attack1'], x['specialAttack1'], x['defense1'], x['specialDefense1'], x['hp1'], x['speed1'], x['attack2'], x['specialAttack2'], x['defense2'], x['specialDefense2'], x['hp2'], x['speed2'], x['Gewonnen']),axis=1)

In [155]:
# Check average score
fight_df['Score3'] = fight_df.apply(lambda x: averageScore(x['attack1'], x['specialAttack1'], x['defense1'], x['specialDefense1'], x['hp1'], x['speed1'], x['attack2'], x['specialAttack2'], x['defense2'], x['specialDefense2'], x['hp2'], x['speed2'], x['Gewonnen']),axis=1)

In [156]:
# Check attack score
fight_df['Score4'] = fight_df.apply(lambda x: attackScore(x['attack1'], x['specialAttack1'], x['defense1'], x['specialDefense1'], x['hp1'], x['speed1'], x['attack2'], x['specialAttack2'], x['defense2'], x['specialDefense2'], x['hp2'], x['speed2'], x['Gewonnen']),axis=1)

In [158]:
# Auswerten
# Alle einträge
alleEintraege = fight_df['Score1'].count()

# Default Scroe
s1 = int(fight_df['Score1'].value_counts()[0])
s1 = round(s1/alleEintraege*100, 2)

print('Standartscore: ' + str(s1) + '%')

Standartscore: 12.16%

In [159]:
# Auswerten
# Alle einträge
alleEintraege = fight_df['Score2'].count()

# Default Scroe
s2 = int(fight_df['Score2'].value_counts()[0])
s2 = round(s2/alleEintraege*100, 2)

print('Prozentscore: '+  str(s2) + '%')

Prozentscore: 10.05%

In [160]:
# Auswerten
# Alle einträge
alleEintraege = fight_df['Score3'].count()

# Default Scroe
s3 = int(fight_df['Score3'].value_counts()[0])
s3 = round(s3/alleEintraege*100, 2)

print('Durchschnettscore: '+  str(s3) + '%')

Durchschnettscore: 23.95%

In [161]:
# Auswerten
# Alle einträge
alleEintraege = fight_df['Score4'].count()

# Default Scroe
s4 = int(fight_df['Score4'].value_counts()[0])
s4 = round(s4/alleEintraege*100, 2)

print('Angriffsscore: '+  str(s4) + '%')

Angriffsscore: 18.5%

In [163]:
fight_df

,name1,hp1,attack1,defense1,specialAttack1,specialDefense1,speed1,name2,hp2,attack2,defense2,specialAttack2,specialDefense2,speed2,Gewonnen,Score1,Score2,Score3,Score4,Score5
0,Zirpeise,77,85,51,55,51,65,Pummeluff,115,45,20,45,25,20,True,True,True,True,True,True
1,Zirpeise,77,85,51,55,51,65,Palimpalim,75,50,80,95,90,65,False,True,True,True,True,True
2,Zirpeise,77,85,51,55,51,65,Schlurplek,110,85,95,80,95,50,False,True,True,True,False,True
3,Zirpeise,77,85,51,55,51,65,Duokles,59,110,150,45,49,35,False,True,True,True,True,True
4,Zirpeise,77,85,51,55,51,65,Yanmega,86,76,86,116,56,95,False,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
640795,Wommel,40,45,40,55,40,84,Volcanion,80,110,120,130,90,70,False,True,True,True,True,True
640796,Wommel,40,45,40,55,40,84,Cresselia,120,70,120,75,130,85,False,True,True,True,True,True
640797,Wommel,40,45,40,55,40,84,Irokex,65,90,115,45,115,58,False,True,True,True,True,True
640798,Wommel,40,45,40,55,40,84,Tannza,50,65,90,35,35,15,False,False,True,False,True,False
640799,Wommel,40,45,40,55,40,84,Fukano,55,70,45,70,50,60,False,True,True,False,True,True

In [189]:
# Gegenprüfen: Prozent score mit den Kampfdaten
def dreisatz(attack1, sattack1, defense1, sdefense1, hp1, speed1, attack2, sattack2, defense2, sdefense2, hp2, speed2, win):

    #
    maxScore1 = 0
    maxScore2 = 0

    if attack1 < sattack1:
        maxScore1 = sattack1
        if speed1 > aSpeed:
            maxScore1 = maxScore1 + sattack1/2
    else:
        maxScore1 = attack1
        if speed1 > aSpeed:
            maxScore1 = maxScore1 + attack1/2


    if attack2 < sattack2:
        maxScore2 = sattack2
        if speed2 > aSpeed:
            maxScore2 = maxScore2 + sattack2/2
    else:
        maxScore2 = attack2
        if speed2 > aSpeed:
            maxScore2 = maxScore2 + attack2/2


    if aAttack > aSAttack:
        maxScore1 = maxScore1 + defense1
        maxScore2 = maxScore2 + defense2

        #maxScore1 = maxScore1 + sdefense1/3         
        #maxScore2 = maxScore2 + sdefense1/3
    else:
        maxScore1 = maxScore1 + sdefense1       
        maxScore2 = maxScore2 + sdefense2
        
        #maxScore1 = maxScore1 + defense1/3
        #maxScore2 = maxScore2 +  defense2/3

   # Vergleich die Scores
    if (maxScore1 > maxScore2) & (win == True):
        return True
    elif(maxScore1 < maxScore2) & (win == False):
        return True
    else:
        return False

In [190]:
# Check procent score
fight_df['Score5'] = fight_df.apply(lambda x: dreisatz(x['attack1'], x['specialAttack1'], x['defense1'], x['specialDefense1'], x['hp1'], x['speed1'], x['attack2'], x['specialAttack2'], x['defense2'], x['specialDefense2'], x['hp2'], x['speed2'], x['Gewonnen']),axis=1)

In [191]:
# Auswerten
# Alle einträge
alleEintraege = fight_df['Score5'].count()

# Default Scroe
s5 = int(fight_df['Score5'].value_counts()[0])
s5 = round(s5/alleEintraege*100, 2)

print('Dreisatz: '+  str(s5) + '%')

Dreisatz: 16.74%

In [192]:
fight_df

,name1,hp1,attack1,defense1,specialAttack1,specialDefense1,speed1,name2,hp2,attack2,defense2,specialAttack2,specialDefense2,speed2,Gewonnen,Score1,Score2,Score3,Score4,Score5
0,Zirpeise,77,85,51,55,51,65,Pummeluff,115,45,20,45,25,20,True,True,True,True,True,True
1,Zirpeise,77,85,51,55,51,65,Palimpalim,75,50,80,95,90,65,False,True,True,True,True,True
2,Zirpeise,77,85,51,55,51,65,Schlurplek,110,85,95,80,95,50,False,True,True,True,False,True
3,Zirpeise,77,85,51,55,51,65,Duokles,59,110,150,45,49,35,False,True,True,True,True,True
4,Zirpeise,77,85,51,55,51,65,Yanmega,86,76,86,116,56,95,False,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
640795,Wommel,40,45,40,55,40,84,Volcanion,80,110,120,130,90,70,False,True,True,True,True,True
640796,Wommel,40,45,40,55,40,84,Cresselia,120,70,120,75,130,85,False,True,True,True,True,True
640797,Wommel,40,45,40,55,40,84,Irokex,65,90,115,45,115,58,False,True,True,True,True,True
640798,Wommel,40,45,40,55,40,84,Tannza,50,65,90,35,35,15,False,False,True,False,True,True
640799,Wommel,40,45,40,55,40,84,Fukano,55,70,45,70,50,60,False,True,True,False,True,False