In [137]:
# Imports
import pandas as pd
import numpy as np
from Pokemonarena.Pokemon import Pokemon

In [138]:
# Hol die Pokemonliste
fight_df = pd.read_parquet('fight_ml.parquet')
# Print
fight_df

,name1,hp1,attack1,defense1,specialAttack1,specialDefense1,speed1,name2,hp2,attack2,defense2,specialAttack2,specialDefense2,speed2,Gewonnen
0,Zirpeise,77,85,51,55,51,65,Pummeluff,115,45,20,45,25,20,True
1,Zirpeise,77,85,51,55,51,65,Palimpalim,75,50,80,95,90,65,False
2,Zirpeise,77,85,51,55,51,65,Schlurplek,110,85,95,80,95,50,False
3,Zirpeise,77,85,51,55,51,65,Duokles,59,110,150,45,49,35,False
4,Zirpeise,77,85,51,55,51,65,Yanmega,86,76,86,116,56,95,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
640795,Wommel,40,45,40,55,40,84,Volcanion,80,110,120,130,90,70,False
640796,Wommel,40,45,40,55,40,84,Cresselia,120,70,120,75,130,85,False
640797,Wommel,40,45,40,55,40,84,Irokex,65,90,115,45,115,58,False
640798,Wommel,40,45,40,55,40,84,Tannza,50,65,90,35,35,15,False
640799,Wommel,40,45,40,55,40,84,Fukano,55,70,45,70,50,60,False

In [139]:
# Gegenprüfen: Default score mit den Kampfdaten
def defaultScore(attack1, sattack1, defense1, sdefens1, hp1, speed1, attack2, sattack2, defense2, sdefens2, hp2, speed2, win):
    # Defauilt scoure 1
    defaultScoure1 = hp1 + attack1 +sattack1 + defense1 + sdefens1 + speed1
    # Defauilt scoure 2
    defaultScoure2 = hp2 + attack2 +sattack2 + defense2 + sdefens2 + speed2

    # Vergleich die Scores
    if (defaultScoure1 > defaultScoure2) & (win == True):
        return True
    elif(defaultScoure1 < defaultScoure2) & (win == False):
        return True
    else:
        return False

In [140]:
# Get max states
maxAttack = fight_df['attack1'].max()
maxSpecialAttack = fight_df['specialAttack1'].max()
maxDefense = fight_df['defense1'].max()
maxSpecialDefense = fight_df['specialDefense1'].max()
maxSpeed = fight_df['hp1'].max()
maxHP = fight_df['speed1'].max()

In [141]:
# Gegenprüfen: Avarage score mit den Kampfdaten
def percentScore(attack1, sattack1, defense1, sdefense1, hp1, speed1, attack2, sattack2, defense2, sdefense2, hp2, speed2, win):

    # Calculate the average score for pokemon1
    maxAttack1 = 100/maxAttack*attack1
    maxSpecialAttack1 = 100/maxSpecialAttack*sattack1
    maxDefense1 = 100/maxDefense*defense1
    maxSpecialDefense1 = 100/maxSpecialDefense*sdefense1
    maxSpeed1 = 100/maxSpeed*speed1
    maxHP1 = 100/maxHP*hp1
    # Calculate the avarage score
    maxScore1 = round(maxAttack1 + maxSpecialAttack1 + maxDefense1 + maxSpecialDefense1 + maxSpeed1 + maxHP1)
    
    # Calculate the average score for pokemon2
    maxAttack2 = 100/maxAttack*attack2
    maxSpecialAttack2 = 100/maxSpecialAttack*sattack2
    maxDefense2 = 100/maxDefense*defense2
    maxSpecialDefense2 = 100/maxSpecialDefense*sdefense2
    maxSpeed2 = 100/maxSpeed*speed2
    maxHP2 = 100/maxHP*hp2
    # Calculate the avarage score
    maxScore2 = round(maxAttack2 + maxSpecialAttack2 + maxDefense2 + maxSpecialDefense2 + maxSpeed2 + maxHP2)

   # Vergleich die Scores
    if (maxScore1 > maxScore2) & (win == True):
        return True
    elif(maxScore1 < maxScore2) & (win == False):
        return True
    else:
        return False

In [142]:
# Average states
aAttack = sum(fight_df['attack1']) / len(fight_df['attack1'])
aSAttack = sum(fight_df['specialAttack1']) / len(fight_df['specialAttack1'])
aDefense = sum(fight_df['defense1']) / len(fight_df['defense1'])
aSDefense = sum(fight_df['specialDefense1']) / len(fight_df['specialDefense1'])
aHP = sum(fight_df['hp1']) / len(fight_df['hp1'])
aSpeed = sum(fight_df['speed1']) / len(fight_df['speed1'])

In [143]:
# Gegenprüfen: Durchschnitt score mit den Kampfdaten
def averageScore(attack1, sattack1, defense1, sdefens1, hp1, speed1, attack2, sattack2, defense2, sdefens2, hp2, speed2, win):
    
    # Score
    aScore1 = 0

    # Higher than average
    if aAttack < attack1:
        aScore1 += 1
    if aSAttack < sattack1:
        aScore1 += 1
    if aDefense < defense1:
        aScore1 += 1
    if aSDefense < sdefens1:
        aScore1 += 1
    if aHP < hp1:
        aScore1 += 1
    if aSpeed < speed1:
        aScore1 += 1

    # Extra points
    if aAttack < aSAttack:
        if aSAttack < sattack1:
            aScore1 += 1
            if aSpeed < speed1:
                aScore1 += 1
            if aSDefense < sdefens1:
                aScore1 += 1
    else:
        if aAttack < attack1:
            aScore1 += 1
            if aSpeed < speed1:
                aScore1 += 1
            if aDefense < defense1:
                aScore1 += 1
  
    # Score
    aScore2 = 0

    # Higher than average
    if aAttack < attack2:
        aScore2 += 1
    if aSAttack < sattack2:
        aScore2 += 1
    if aDefense < defense2:
        aScore2 += 1
    if aSDefense < sdefens2:
        aScore2 += 1
    if aHP < hp2:
        aScore2 += 1
    if aSpeed < speed2:
        aScore2 += 1

    # Extra points
    if aAttack < aSAttack:
        if aSAttack < sattack2:
            aScore2 += 1
            if aSpeed < speed2:
                aScore2 += 1
            if aSDefense < sdefens2:
                aScore2 += 1
    else:
        if aAttack < attack2:
            aScore2 += 1
            if aSpeed < speed2:
                aScore2 += 1
            if aDefense < defense2:
                aScore2 += 1
            
    
    # Vergleich die Scores
    if (aScore1 > aScore2) & (win == True):
        return True
    elif(aScore1 < aScore2) & (win == False):
        return True
    else:
        return False

In [123]:
# Check default score
fight_df['Score1'] = fight_df.apply(lambda x: defaultScore(x['attack1'], x['specialAttack1'], x['defense1'], x['specialDefense1'], x['hp1'], x['speed1'], x['attack2'], x['specialAttack2'], x['defense2'], x['specialDefense2'], x['hp2'], x['speed2'], x['Gewonnen']),axis=1)

In [124]:
# Check procent score
fight_df['Score2'] = fight_df.apply(lambda x: percentScore(x['attack1'], x['specialAttack1'], x['defense1'], x['specialDefense1'], x['hp1'], x['speed1'], x['attack2'], x['specialAttack2'], x['defense2'], x['specialDefense2'], x['hp2'], x['speed2'], x['Gewonnen']),axis=1)

In [131]:
# Check average score
fight_df['Score3'] = fight_df.apply(lambda x: averageScore(x['attack1'], x['specialAttack1'], x['defense1'], x['specialDefense1'], x['hp1'], x['speed1'], x['attack2'], x['specialAttack2'], x['defense2'], x['specialDefense2'], x['hp2'], x['speed2'], x['Gewonnen']),axis=1)

In [132]:
fight_df

,name1,hp1,attack1,defense1,specialAttack1,specialDefense1,speed1,name2,hp2,attack2,defense2,specialAttack2,specialDefense2,speed2,Gewonnen,Score1,Score2,Score3
0,Zirpeise,77,85,51,55,51,65,Pummeluff,115,45,20,45,25,20,True,True,True,True
1,Zirpeise,77,85,51,55,51,65,Palimpalim,75,50,80,95,90,65,False,True,True,True
2,Zirpeise,77,85,51,55,51,65,Schlurplek,110,85,95,80,95,50,False,True,True,True
3,Zirpeise,77,85,51,55,51,65,Duokles,59,110,150,45,49,35,False,True,True,True
4,Zirpeise,77,85,51,55,51,65,Yanmega,86,76,86,116,56,95,False,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
640795,Wommel,40,45,40,55,40,84,Volcanion,80,110,120,130,90,70,False,True,True,True
640796,Wommel,40,45,40,55,40,84,Cresselia,120,70,120,75,130,85,False,True,True,True
640797,Wommel,40,45,40,55,40,84,Irokex,65,90,115,45,115,58,False,True,True,True
640798,Wommel,40,45,40,55,40,84,Tannza,50,65,90,35,35,15,False,False,False,False
640799,Wommel,40,45,40,55,40,84,Fukano,55,70,45,70,50,60,False,True,True,False

In [133]:
# Auswerten
# Alle einträge
alleEintraege = fight_df['Score1'].count()

# Default Scroe
s1 = int(fight_df['Score1'].value_counts()[0])
s1 = round(s1/alleEintraege*100, 2)

print('Standartscore: ' + str(s1) + '%')

Standartscore: 12.16%

In [134]:
# Auswerten
# Alle einträge
alleEintraege = fight_df['Score2'].count()

# Default Scroe
s2 = int(fight_df['Score2'].value_counts()[0])
s2 = round(s2/alleEintraege*100, 2)

print('Prozentscore: '+  str(s2) + '%')

Prozentscore: 13.12%

In [136]:
# Auswerten
# Alle einträge
alleEintraege = fight_df['Score3'].count()

# Default Scroe
s3 = int(fight_df['Score3'].value_counts()[0])
s3 = round(s3/alleEintraege*100, 2)

print('Durchschnettscore: '+  str(s3) + '%')

Durchschnettscore: 23.95%